# Editor droppings
*~

# IDE cruft
.project
.pydevproject
.settings/
.externalToolBuilders/

.idea/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Sphinx workplace
doc/build/
doc/venv/
